ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.CityForm {
  width: 100vw;
  display: flex;
  padding: 3rem;
  justify-content: center;
}

.InfoName {
  height: 100px;
}

.InfoList {
  height: 20px;
}

.MapImage {
  border-radius: 50%;
  border: solid black 1px;
}

.MapImage::parent {
  border: none;
  background: none;
}

