ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.CityForm {
  width: 100vw;
  display: flex;
  padding: 3rem;
  justify-content: space-evenly;
}

.InfoName {
  height: 100px;
}

.InfoList {
  height: 20px;
}

.MapImage {
  border: solid black 1px;
  border-radius: 50%;
}

.Card {
  background: none;
}

